In [1]:
import pandas as pd
import numpy as np
from random import shuffle

In [12]:
data_df = pd.read_csv('Police_Department_Incident_Reports__2018_to_Present.csv')

In [13]:
data_df.dtypes

Incident Datetime                                        object
Incident Date                                            object
Incident Time                                            object
Incident Year                                             int64
Incident Day of Week                                     object
Report Datetime                                          object
Row ID                                                    int64
Incident ID                                               int64
Incident Number                                           int64
CAD Number                                              float64
Report Type Code                                         object
Report Type Description                                  object
Filed Online                                             object
Incident Code                                             int64
Incident Category                                        object
Incident Subcategory                                     object
Incident Description                                     object
Resolution                                               object
Intersection                                             object
CNN                                                     float64
Police District                                          object
Analysis Neighborhood                                    object
Supervisor District                                     float64
Latitude                                                float64
Longitude                                               float64
point                                                    object
SF Find Neighborhoods                                   float64
Current Police Districts                                float64
Current Supervisor Districts                            float64
Analysis Neighborhoods                                  float64
HSOC Zones as of 2018-06-05                             float64
OWED Public Spaces                                      float64
Central Market/Tenderloin Boundary Polygon - Updated    float64
Parks Alliance CPSI (27+TL sites)                       float64
ESNCAG - Boundary File                                  float64
Areas of Vulnerability, 2016                            float64
dtype: object

In [21]:
filtered_data_df = data_df.filter(['Incident Datetime', 'Incident Subcategory', 'Analysis Neighborhood', 'Intersection', 'Latitude', 'Longitude'], axis=1)filtered_data_df = data_df.filter(['Incident Datetime', 'Incident Subcategory', 'Analysis Neighborhood', 'Intersection', 'Latitude', 'Longitude'], axis=1)
# filtered_data_df = filtered_data_df.loc[['Vehicle' in desc for desc in filtered_data_df['Incident Subcategory']], :]

In [22]:
filtered_data_df.isnull().sum()

Incident Datetime            0
Incident Subcategory       271
Analysis Neighborhood    20541
Intersection             20460
Latitude                 20460
Longitude                20460
dtype: int64

In [23]:
filtered_data_df['Incident Subcategory']=filtered_data_df['Incident Subcategory'].fillna('No cathegory')

In [24]:
# for desc in filtered_data_df['Incident Subcategory'][0:50]:
#      print('Vehicle' in desc)
filtered_data_df=filtered_data_df[filtered_data_df['Incident Subcategory'].str.contains("Vehicle")]

In [20]:
# filtered_data_df = data_df.filter(['Incident Datetime', 'Incident Description', 'Analysis Neighborhood', 'Intersection', 'Latitude', 'Longitude'], axis=1)
# filtered_data_df = filtered_data_df.loc[[desc.startswith('Vehicle, Stolen') for desc in filtered_data_df['Incident Description']], :]

In [25]:
filtered_data_df.head()

,Incident Datetime,Incident Subcategory,Analysis Neighborhood,Intersection,Latitude,Longitude
0,2020/08/15 08:56:00 AM,Recovered Vehicle,NaN,NaN,NaN,NaN
1,2020/08/15 09:40:00 AM,Larceny - From Vehicle,NaN,NaN,NaN,NaN
8,2020/08/14 02:00:00 PM,Larceny - From Vehicle,Japantown,HEMLOCK ST \ LAGUNA ST,37.786247,-122.428241
20,2020/08/16 07:56:00 AM,Recovered Vehicle,Bayview Hunters Point,YOSEMITE AVE \ INGALLS ST,37.724729,-122.387930
32,2020/08/16 01:45:00 PM,Recovered Vehicle,Bayview Hunters Point,FAIRFAX AVE \ NEWHALL ST,37.741297,-122.387143

In [50]:
filtered_data_df.isnull().sum()

Incident Datetime            0
Incident Subcategory         0
Analysis Neighborhood    11091
Intersection             11085
Latitude                 11085
Longitude                11085
dtype: int64

In [51]:
filtered_data_df.shape

(103713, 6)

In [26]:
filtered_data_df['Analysis Neighborhood'].unique()

array([nan, 'Japantown', 'Bayview Hunters Point',
       'Financial District/South Beach', 'Mission', 'Tenderloin',
       'Nob Hill', 'Hayes Valley', 'Chinatown', 'South of Market',
       'Western Addition', 'Lone Mountain/USF', 'Excelsior',
       'Russian Hill', 'Presidio Heights', 'Golden Gate Park',
       'Mission Bay', 'West of Twin Peaks', 'Outer Mission',
       'Outer Richmond', 'Sunset/Parkside', 'Oceanview/Merced/Ingleside',
       'Inner Sunset', 'Marina', 'North Beach', 'Lakeshore',
       'Haight Ashbury', 'Portola', 'Castro/Upper Market',
       'Visitacion Valley', 'Presidio', 'Potrero Hill', 'Twin Peaks',
       'Inner Richmond', 'Treasure Island', 'Bernal Heights',
       'Noe Valley', 'Lincoln Park', 'Pacific Heights', 'Glen Park',
       'McLaren Park', 'Seacliff'], dtype=object)

In [27]:
income_data = pd.read_csv('Income by Location.csv')

In [28]:
income_data.head()

,ID Year,Year,ID Race,Race,Household Income by Race,Household Income by Race Moe,Geography,ID Geography
0,2018.0,2018.0,0.0,Total,67377.0,22799.0,"Census Tract 101, San Francisco County, CA",14000US06075010100
1,2017.0,2017.0,0.0,Total,81509.0,19512.0,"Census Tract 101, San Francisco County, CA",14000US06075010100
2,2016.0,2016.0,0.0,Total,59519.0,15585.0,"Census Tract 101, San Francisco County, CA",14000US06075010100
3,2015.0,2015.0,0.0,Total,61442.0,23965.0,"Census Tract 101, San Francisco County, CA",14000US06075010100
4,2014.0,2014.0,0.0,Total,75725.0,11999.0,"Census Tract 101, San Francisco County, CA",14000US06075010100

In [29]:
income_data.dtypes

ID Year                         float64
Year                            float64
ID Race                         float64
Race                             object
Household Income by Race        float64
Household Income by Race Moe    float64
Geography                        object
ID Geography                     object
dtype: object

In [30]:
income_data=income_data[income_data['Year']== 2018]

In [31]:
income_data['ID Geography'] = income_data['ID Geography'].apply(lambda x:x[-5:])

In [32]:
income_data['ID Geography'] = income_data['ID Geography'].astype(int)

In [33]:
income_data = income_data.filter(['ID Geography','Household Income by Race'])

In [34]:
lookup_data = pd.read_csv('Analysis_Neighborhoods.csv')

In [35]:
lookup_data.rename(columns = {'TRACTCE10':'ID Geography'}, inplace = True) 
lookup_data = lookup_data.filter(['ID Geography','NHOOD'])

In [36]:
lookup_data.head()

   ID Geography             NHOOD
0         16400      Hayes Valley
1         16100  Western Addition
2         15900  Western Addition
3         15500         Japantown
4         15300   Pacific Heights

TypeError: rename() got an unexpected keyword argument 'columns'

In [37]:
income_neigh =pd.merge(income_data,lookup_data)

In [38]:
income_neigh.head()

   ID Geography  Household Income by Race                           NHOOD
0         10100                   67377.0                     North Beach
1         10200                  134176.0                    Russian Hill
2         10300                  138630.0                    Russian Hill
3         10400                  111105.0                     North Beach
4         10500                  125511.0  Financial District/South Beach

In [39]:
income_neigh_data=income_neigh.groupby('NHOOD').sum()

In [40]:
income_neigh_data.reset_index(inplace=True)

In [41]:
income_neigh_data

                             NHOOD  ID Geography  Household Income by Race
0            Bayview Hunters Point        284309                  518513.0
1                   Bernal Heights        151806                  797803.0
2              Castro/Upper Market        115701                  893269.0
3                        Chinatown         94900                  111821.0
4                        Excelsior        208516                  684691.0
5   Financial District/South Beach         83700                  378798.0
6                        Glen Park         43500                  323827.0
7                   Haight Ashbury         67503                  650056.0
8                     Hayes Valley         82503                  601261.0
9                   Inner Richmond        170600                  415389.0
10                    Inner Sunset        181209                  783202.0
11                       Japantown         15500                   64412.0
12                       Lakeshore        160008                  208748.0
13               Lone Mountain/USF         47800                  344673.0
14                          Marina         89506                 1011050.0
15                         Mission        278512                 1474096.0
16                     Mission Bay         60700                  158667.0
17                        Nob Hill         81003                  623213.0
18                      Noe Valley        128100                  971476.0
19                     North Beach         31100                  218862.0
20      Oceanview/Merced/Ingleside        156406                  415219.0
21                   Outer Mission         77800                  281860.0
22                  Outer Richmond        462312                  972993.0
23                 Pacific Heights         96803                 1034543.0
24                         Portola        103103                  369233.0
25                    Potrero Hill        129406                  691226.0
26                        Presidio         60100                  184934.0
27                Presidio Heights         28700                  288151.0
28                    Russian Hill         42400                  539522.0
29                        Seacliff         42800                  164750.0
30                 South of Market         71204                  291716.0
31                 Sunset/Parkside        471612                 1471679.0
32                      Tenderloin         98812                  292770.0
33                 Treasure Island         17902                   59063.0
34                      Twin Peaks         50902                  256376.0
35               Visitacion Valley        166112                  313776.0
36              West of Twin Peaks        215500                 1084264.0
37                Western Addition         94703                  482956.0

In [42]:
x=income_neigh_data['NHOOD'].unique()

In [43]:
np.sort(x)

array(['Bayview Hunters Point', 'Bernal Heights', 'Castro/Upper Market',
       'Chinatown', 'Excelsior', 'Financial District/South Beach',
       'Glen Park', 'Haight Ashbury', 'Hayes Valley', 'Inner Richmond',
       'Inner Sunset', 'Japantown', 'Lakeshore', 'Lone Mountain/USF',
       'Marina', 'Mission', 'Mission Bay', 'Nob Hill', 'Noe Valley',
       'North Beach', 'Oceanview/Merced/Ingleside', 'Outer Mission',
       'Outer Richmond', 'Pacific Heights', 'Portola', 'Potrero Hill',
       'Presidio', 'Presidio Heights', 'Russian Hill', 'Seacliff',
       'South of Market', 'Sunset/Parkside', 'Tenderloin',
       'Treasure Island', 'Twin Peaks', 'Visitacion Valley',
       'West of Twin Peaks', 'Western Addition'], dtype=object)

In [44]:
filtered_data_df['Analysis Neighborhood'].unique()

array([nan, 'Japantown', 'Bayview Hunters Point',
       'Financial District/South Beach', 'Mission', 'Tenderloin',
       'Nob Hill', 'Hayes Valley', 'Chinatown', 'South of Market',
       'Western Addition', 'Lone Mountain/USF', 'Excelsior',
       'Russian Hill', 'Presidio Heights', 'Golden Gate Park',
       'Mission Bay', 'West of Twin Peaks', 'Outer Mission',
       'Outer Richmond', 'Sunset/Parkside', 'Oceanview/Merced/Ingleside',
       'Inner Sunset', 'Marina', 'North Beach', 'Lakeshore',
       'Haight Ashbury', 'Portola', 'Castro/Upper Market',
       'Visitacion Valley', 'Presidio', 'Potrero Hill', 'Twin Peaks',
       'Inner Richmond', 'Treasure Island', 'Bernal Heights',
       'Noe Valley', 'Lincoln Park', 'Pacific Heights', 'Glen Park',
       'McLaren Park', 'Seacliff'], dtype=object)

In [53]:
nbr_incident_df = filtered_data_df['Analysis Neighborhood'].value_counts().to_frame().reset_index()
nbr_incident_df.columns = ['NHOOD', 'theft_count']

In [54]:
nbr_incident_df

                             NHOOD  theft_count
0                          Mission         8364
1                  South of Market         5910
2   Financial District/South Beach         5807
3            Bayview Hunters Point         5695
4                      North Beach         4446
5                       Tenderloin         4427
6                     Hayes Valley         4109
7                 Western Addition         4080
8                     Russian Hill         3766
9                   Outer Richmond         3300
10                          Marina         3286
11                 Sunset/Parkside         2737
12                        Nob Hill         2660
13             Castro/Upper Market         2528
14                    Potrero Hill         2262
15                 Pacific Heights         2178
16              West of Twin Peaks         2152
17                       Japantown         1893
18                  Bernal Heights         1773
19                Golden Gate Park         1596
20                  Haight Ashbury         1591
21                    Inner Sunset         1477
22                  Inner Richmond         1473
23                       Excelsior         1328
24                       Lakeshore         1310
25                       Chinatown         1280
26               Lone Mountain/USF         1280
27                         Portola         1198
28                     Mission Bay         1196
29                   Outer Mission         1163
30                      Noe Valley         1075
31                      Twin Peaks          928
32      Oceanview/Merced/Ingleside          871
33               Visitacion Valley          855
34                       Glen Park          673
35                Presidio Heights          616
36                        Presidio          442
37                    Lincoln Park          345
38                 Treasure Island          233
39                        Seacliff          177
40                    McLaren Park          142

In [47]:
def permutation_test(series1, series2, no_iter=2000):
    r = series1.corr(series2)
    count = 1
    for _ in range(no_iter-1):
        shuffle(series2)
        if series1.corr(series2) >= r:
            count += 1
    pval = count/no_iter
    return r, pval

In [48]:
merged_df = nbr_incident_df.merge(income_neigh)
merged_df.head()

     NHOOD  theft_count  ID Geography  Household Income by Race
0  Mission         8364         17700                  114722.0
1  Mission         8364         20100                   46750.0
2  Mission         8364         20200                  100099.0
3  Mission         8364         20700                  167422.0
4  Mission         8364         20800                  103134.0

In [55]:
merged_df.isna().sum()

NHOOD                       0
theft_count                 0
ID Geography                0
Household Income by Race    0
dtype: int64

In [49]:
merged_df = nbr_incident_df.merge(income_neigh_data)
r, pval = permutation_test(merged_df['theft_count'], merged_df['Household Income by Race'])
print('Correlation b/w neighborhood income and vehicle theft count:')
print('Pearson r: {:.2f}'.format(r))
print('Empirical p-val: {:.4f}'.format(pval))

C:\Users\aashi\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

Correlation b/w neighborhood income and vehicle theft count:
Pearson r: 0.37
Empirical p-val: 0.0180

In [60]:
!pip install

ERROR: Could not find a version that satisfies the requirement Polygon (from versions: none)
ERROR: No matching distribution found for Polygon

In [58]:
import math
from shapely.geometry import Polygon, Point
import pandas as pd
import json

OSError: [WinError 126] The specified module could not be found

In [59]:
filtered_data_df.head()

,Incident Datetime,Incident Subcategory,Analysis Neighborhood,Intersection,Latitude,Longitude
0,2020/08/15 08:56:00 AM,Recovered Vehicle,NaN,NaN,NaN,NaN
1,2020/08/15 09:40:00 AM,Larceny - From Vehicle,NaN,NaN,NaN,NaN
8,2020/08/14 02:00:00 PM,Larceny - From Vehicle,Japantown,HEMLOCK ST \ LAGUNA ST,37.786247,-122.428241
20,2020/08/16 07:56:00 AM,Recovered Vehicle,Bayview Hunters Point,YOSEMITE AVE \ INGALLS ST,37.724729,-122.387930
32,2020/08/16 01:45:00 PM,Recovered Vehicle,Bayview Hunters Point,FAIRFAX AVE \ NEWHALL ST,37.741297,-122.387143

In [ ]:
# Tourist spots

tourist = ['Golden Gate Park','Russian Hill']